
.cont{
    background-color: var(--var-background);
    width: min(95%, 50em);
    min-height: 7em;
    border-radius: var(--var-br);
    
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
}
h2{
    margin-bottom: 1em;
}

.table{
    width: max(30em, 90%);
    
    padding: 10px;
}
th{
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 10px;
    border: 5px solid #e2e4f6;
}

td{
    justify-content: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 10px;
    border: 5px solid #e2e4f6;
}

.filter{
  background-color: #ffffff;
  text-align: center;
  padding: 0px 10px 0px 10px;
  border-radius: 25px;
  transition: 0.1s;
  font-size: 2em;
  position: fixed;
  left: 0;
  top: 50%;

  transform: translateY(-50%);
  z-index: 1000000 !important;
}
.filter a{
  color: #886f77;
}

.morebtn{
  background-color: #dbafc1;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  transition: 0.1s;
  margin: 10px;
}

.morebtn:hover{
  background-color: #886f77;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  transform: scale(1.1);
  border: 5px solid #dbafc1;
}

#main{
    background-color: #886f77;
    margin: 10px;
    color: #f6e2e2;
}

.pagebtn a{
  color: #886f77;
}
.pagebtn:hover a{
  color: #ffffff;
}

.pagebtn{
  border: 2px solid  #886f77;
  border-radius: 5px;
  background-color: #ffffff;
}

.pagebtn:hover{
  background-color:  #886f77;
  border-radius: 5px;
  color: #ffffff;
}
section{
    box-sizing: border-box;
}
.cont1{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn{
    margin: auto;
    margin-top: 30px;
}

.grid-container {
    justify-content: center;
    text-align: start;
    display: grid;
    width: 100%; 
    grid-template-columns: repeat(9, 1fr);
    gap: 0.5rem;
  }
  
  #data{
    background-color: #dbafc1;
    
  }
  .card {
    padding: 5px;
    margin: 10px;
    border-radius: 25px 4px 25px 4px;
    text-align: justify;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #886f77;
    box-shadow: 5px 5px  rgb(85, 85, 85);
    
  }
  .card b{
    color: #0e1116;
    margin-bottom: 20px;
    text-align: center;
  }

  
  @media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: repeat(9, 1fr);
      text-align: justify;
    }
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  }