.cont{
    background-color: var(--var-background);
    width: min(95%, 50em);
    min-height: 7em;
    border-radius: var(--var-br);
    
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
}
h2{
    margin-bottom: 1em;
}
.table{
    width: max(30em, 90%);
}
.table th{
    font-size: 12px;
}
.table td{
    font-size: 12px;
}
section{
    box-sizing: border-box;
}
.cont1{
    width: 100%;
    display: flex;
}