
.cont{
    background-color: var(--var-background);
    width: min(95%, 50em);
    min-height: 7em;
    border-radius: var(--var-br);
    
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
}
h2{
    margin-bottom: 1em;
}

.table{
    width: max(30em, 90%);
    
    padding: 10px;
}
th{
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 10px;
    border: 5px solid #e2e4f6;
}

td{
    justify-content: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 10px;
    border: 5px solid #e2e4f6;

}


#main{
    background-color: #886f77;
    margin: 10px;
    color: #e2e4f6;
}


section{
    box-sizing: border-box;
}
.cont1{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn{
    margin: auto;
    margin-top: 30px;
}

.grid-container {
    display: grid;
    flex-wrap: wrap;
    width: 60vw; 
    grid-template-columns: repeat(15, 1fr);
    gap: 1rem;
  }
  
  
  #data{
    background-color: #dbafc1;
    
  }
  .card {
    width: 130px;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #886f77;
    
  }
  .card b{
    color: #0e1116;
  }

  
  @media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: repeat(5, 1fr); 
    }
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }