#dlform{
    margin: 1em;
}

form{
    
    background-color: #DBAFC1;
    padding: 20px;
    border-radius: 25px 4px 25px 4px;
}

.prog{
    margin: 10px;
    background-color: #e2e4f6;
    padding: 20px;
    border-radius: 25px 4px 25px 4px;
   
}

.cat{
    margin: 10px;
    background-color: #e2e4f6;
    padding: 20px;
    border-radius: 25px 4px 25px 4px;
    
}

.ajaxforms{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.ajaxform{
    height: 20em;
    overflow-y: scroll;
}
.adder{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.adder .add{
    height: 2em;
    box-sizing: border-box;
    margin: 10px;
    background-color: #86626e;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 20px;
    border: 0px;
}
.adder .add:hover{
    background-color: #ffffff;
    color: #86626e;
}

.adder input{
    width: 100%;
    box-sizing: border-box;
    height: 2em;
}
.ajaxitem{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.ajaxitem{
    background-color: white;
}
button{
    border: 1px solid black;
    background-color: white;
}
.adder{
    margin-bottom: 10px;
}
.panel1{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel1 form button.btn{
    margin: 0 !important;
}
.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ajaxform-parent{
    width: min(20em, 90vw);
}
.container{
    margin: 0;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section.middle{
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (max-width: 1250px){
    .panel1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
}
@media only screen and (max-width: 800px){
    .container{
        flex-direction: column;
    }
}

#pite, #pite2 {
    box-shadow: 10px 10px black;
    border-radius: 50%;
    padding: 300px;

}

.lower h1{
    color: #ffffff;
    margin:10px 0px 50px 0px;
}
.datas{
    margin-top: 30px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.lista{
    
    padding: 300px;
    
}