:root{
    --var-light-pink: #E2E4F6;
    --var-submit-buttons: #86626E;
    --var-background: #DBAFC1;
    --var-br: 10px
}

body{
    background-color: #E2E4F6;
    color: #0E1116;
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    box-shadow: 50px 50px rgba(#86626E, 100%);
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 1em;
    box-sizing: border-box;
}
nav ul li.user_name{
    margin-left: auto;
    justify-self: end;
}

.container{
    margin: auto;
    width: 50%;
    box-shadow: 5px 5px 5px rgb(136, 136, 136);
}

h1{
    font-size: 2em;
    text-align: center;
}

.log{
    width: 50%;
    height: 600px;
    background-color: #DBAFC1;
}

.who{
    width: 50%;
    height: 600px;
    background-color: #E2E4F6;
}
.submitbtn {
    width: max(30%,9em);
    min-width: 9em;
    padding: 10px;
    background-color: #86626E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
    font-size: 1em;
    padding: 10px;
    box-shadow: 1px 1px 1px rgb(41, 41, 41);
    border: #ffffff;
}
.submitbtn:hover {
    background-color: #826983;
}



ul{
    list-style-type: none;
}


#udvozlet{
    margin: auto;
    margin-right: 0px;
    text-align: right;
}