{% extends "layouts/main.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block content %}

<h1>Dusza Árpád Országos Programozói Emlékverseny</h1>
<h2>Informatika-Számítástechnika Tanárok Egyesülete</h2>
<br>
<br>
<p>Az Informatika-Számítástechnika Tanárok Egyesülete a tagjai által önkéntesen létrehozott, önkormányzattal rendelkező, közhasznú szervezetként működő jogi személy. </p>

{% endblock %}

{% block content1 %}
    <section class="middle">
      <div class="wave2 wave">

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
      <h2>Rólunk</h2>
      <p>Egyesületünk 1997 júniusa óta szervez, szerte az országban számítástechnika tanfolyamokat. Az ISZE az iskolák igényeinek megfelelően dolgozta ki képzési programját. Ennek lényege, hogy az akkreditációs feltételek szerinti felkészítés után az iskola informatikatanára tartja a tanfolyamokat az iskolákban</p>
      <p>2008-tól az ISZE Tehetségpont, 2011-től Akkreditált Kiváló Tehetségpont, amit 2015-ben megújítottunk.  A Nemzeti Tehetség Program keretében országosan szervez  azonosított és alulteljesítő tehetségeseknek szakköröket. Tehetségpontokat segít létrehozni, mint mentor Tehetségsegítő Tanács.
        Jó gyakorlata a www.geniuszportal.hu oldalon elérhető. A szakkörökhöz mentori támogatást biztosítunk.
        Versenyekről a www.isze.hu/versenyek oldalon tájékozódhat
        Alapítvány 2012-ben alapítottuk az „Informatikával a tehetségesekért Alapítványt”, amely a Nemzeti Tehetségprogram feladatainak megvalósításában is részt vesz. Pályázatokat valósít meg.</p>
    </section>
{% endblock %}

{% block content2 %}
    <section class="lower">
      <div class="wave3 wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
      <h2>Tedd magad próbára!</h2>
      <p>Ha versenyző vagy, és csapatot szeretnél regisztrálni iskolád neve alatt, azt megteheted <a href="{% url 'register' %}">itt</a>.</p>
    </section>
{%endblock%}