{% extends "layouts/main.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
{% block content %}
  <form id="login" method="post">
    <h2><b>Bejelentkezés</b></h2>
    {% csrf_token %}
    {% for error in form.errors.as_data.values %}
        {% for data in error.0 %}
             <p class="error">{{ data }}</p>
        {% endfor %}
    {% endfor %}
    <table>
    {% for field in form %}
      <tr class="fieldWrapper">
          <td>{{field.label_tag}}</td>
          <td>{{field}}</td>
      </tr>
    {% endfor %}
    </table>
    <button class="submitbtn" type="submit">Bejelentkezés</button>
  </form>
{% endblock %}
