{% extends "layouts/main.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock %}
{% block content %}
<form id="register" method="POST">{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }}
            {{ field }}
            {%  for error in field.errors %}
                <p class="error text-danger fw-bold mb-2 mt-1">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <input id="submitbtn" type="submit" value="Regisztráció">
</form>
{% endblock %}