{% extends "layouts/main.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'contestant_panel.css' %}">
{% endblock %}

{% block content %}

{% if not hasTeam %}
<!-- has no team yet -->
<div class="cont">
    <h2>Még nincs csapatod. Jelentkeznél a versenyre?</h2>
    {% if in_deadline %}
        <a href="/team/register"><button class="btn" type="submit">Jelentkezz!</button></a>
    {% else %}
        <p>Jelenleg nem tudsz jelentkezni. Várd meg a következő versenyt, ennek a jelentkezési határideje lejárt.</p>
    {% endif %}
    {% else %}
        <!-- display team and data, then somehow give option to delete and edit -->
    {% endif %}
</div>

{% endblock %}