{% extends "layouts/main.html" %}
{% block style %}
{%load static %}
<link rel="stylesheet" href="{% static 'organiser_panel.css' %}">
{% endblock %}
{% block script %}
<script src="organiser/languages.js" defer></script>
<script src="organiser/categories.js" defer></script>
<script src="organiser/deadline.js" defer></script>
{% endblock %}
{% block content %}
<form action="{% url 'organiser.changedl' %}" method="post">
    <label for="deadline">Jelentkezési határidő</label>
    <input type="datetime" value="{{ deadline }}"><br>
    <label for="iClosed"></label>
    <input type="radio" name="" id="isClosed">
</form>
{% endblock %}