{% extends "layouts/main.html" %}
{% block style %}
{%load static %}
<link rel="stylesheet" href="{% static 'organiser_panel.css' %}">
{% endblock %}
{% block script %}
<script src="{% static 'organiser/languages.js' %}" defer></script>
<script src="{% static 'organiser/categories.js' %}" defer></script>
<script src="{% static 'organiser/deadline.js' %}" defer></script>
{% endblock %}
{% block nav_extended %}
    <li>
        <a class="nav-link" href="{% url 'team.index' %}">Jelentkezések megtekintése</a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'school.index' %}">Iskolák megtekintése</a>
    </li>
{% endblock %}
{% block content %}
<div class="panel1">
    <form action="{% url 'organiser.change_dl' %}" method="post" id="dlform">
        {% csrf_token %}
        {% if dl_form_error != None %}
        <p>{{dl_form_error}}</p>
        {% endif %}
        <label for="deadline">Jelentkezési határidő</label>
        <input type="datetime-local" value="{{ deadline }}" id="deadline" name="deadline"><br>
        <label for="iClosed"></label>
        <div class="btns">
            <button class="btn text-white">Mentés</button>
            <a href="{% url 'organiser.toggle_dl_close' %}" class="btn text-white" style="width: min-content">
                {% if not is_closed %} Jelentkezés Lezárása {% else %} Jelentkezés megnyitása {% endif %}
            </a>
        </div>
    </form>
</div>
<a class="text-decoration-none btn" href="{% url 'newContest' %}">Új verseny</a>
    <p class="text-danger">Törli a meglévő versenyző csapatokat és megnyitja a versenyt a mához 2 hónapi határidővel</p>
{% endblock %}

{% block content1 %}
<section class="middle">
    <div class="wave2 wave">

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>
    
    <div class="container">
                
                <div class="prog ajaxform-parent">
                    <p>Programnyelvek</p>
                    <div class="languages ajaxform">
                        <div class="adder">
                            <input type="text">
                            <button class="add">Hozzáadás</button>
                        </div>
                    </div>
                </div>
        
                <div class="cat ajaxform-parent">
                    <p>Kategóriák</p>
                    <div class="categories ajaxform">
                        <div class="adder">
                            <input type="text">
                            <button class="add">Hozzáadás</button>
                        </div>
                    </div>
            </div>
    </div>

    <script>
        langs = [];
        cats = [];
        {% for l in languages %}
            langs.push("{{l}}")
        {%endfor%}
        {% for c in categories %}
            cats.push("{{c}}")
        {%endfor%}
    </script>
    
</section>
{% endblock %}