{% extends "layouts/main.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'contestant_panel.css' %}">
{% endblock %}
{% block nav_extended %}
    <li>
        <a class="nav-link" href="{% url 'team.index' %}">Jelentkezések megtekintése</a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'school.index' %}">Iskolák megtekintése</a>
    </li>
{% endblock %}

{% block content %}
<div class="row justify-content-center mb-5">

    <div class="card col-lg-3 col-md-5 col-sm-12">
        <b>Alap információ</b>
        <i>Csapatnév:</i>
        <p>{{team.name}}</p>
        <i>Iskola:</i>
        <p>{{team.school}}</p>
        <i>Állapot</i>
        <p>{% if team.joined %}
            szervezők által jóváhagyva
        {% elif team.approved %}
            iskola által jóváhagyva
        {% else %}
            regisztrált
        {% endif %}</p>
        {% if team.missing != Null %}
        <p class="missing">Hiány jelezve</p>
        {% endif %}
    </div>
    <div class="card col-lg-3 col-md-5 col-sm-12 ">
        <b>Csapattagok</b>
        <p><i>{{team.contestant1_name}}</i> <br>({{team.contestant1_grade}}. osztály)</p>
        <p><i>{{team.contestant2_name}}</i> <br>({{team.contestant2_grade}}. osztály)</p>
        <p><i>{{team.contestant3_name}}</i> <br>({{team.contestant3_grade}}. osztály)</p>
        {% if team.contestant4_name == "" %}
        {% else %}
        <i>Póttag:</i>
        <p>{{team.contestant4_name}} <br>({{team.contestant4_grade}}. osztály)</p>
        {% endif %}
    </div>
    <div class="card col-lg-2 col-md-5 col-sm-12 ">
        <b>Felkészítő tanárok</b>
        <p>{{team.teachers}}</p>
    </div>
    <div class="card col-lg-2 col-md-5 col-sm-12">
        <b>Versenyformátum</b>
        <p>{{team.category}} - {{team.language}}</p>
    </div>
</div>
    <div class="d-flex">
        {% if team.joined %}
        <p><a href="{% url 'team.approveJoin' id=team.id is_approve='disapprove' %}" class="text-decoration-none text-white btn btn-primary">Jóváhagyás visszavonása</a></p>
        {% else %}
        <p><a href="{% url 'team.approveJoin' id=team.id is_approve='approve' %}" class="text-decoration-none text-white btn btn-primary">Jóváhagyás</a></p>
        {% endif %}
        {% if hasApprovalFile  %}
         <p><a href="{% url 'team.downloadApproval' id=team.13 %}" class="text-decoration-none text-white btn btn-primary">Jelentkezési lap letöltése</a></p>
        {% endif %}
        <div>
            <h1>Hiányos</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                {{ field.label_tag }}
                {{ field }}
                {%  for error in field.errors %}
                    <p class="error text-danger fw-bold mb-2 mt-1">{{ error }}</p>
                {% endfor %}
                </div>
                {% endfor %}
                <input class="submitbtn" type="submit" value="Elküldés">
            </form>
        </div>
    </div>


{% endblock %}


{% block content1 %}
    <section class="middle">
      <div class="wave2 wave">

        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>

      </div>
    </section>
    {% endblock %}

{% block content2 %}
    <section class="lower">
      <div class="wave3 wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
    </section>
{%endblock%}